<div class="container-fluid">
  <div class="row" style='margin-top: 14%;'>
    <div class="col-12">
      <div class="d-flex" style='margin-top: 10px; margin-bottom: 10px;'>
        <span class="spacer"></span>
        <div class="d-block">
          <div class="d-flex">
            <span class="spacer"></span>
            <fa-icon [icon]="faExclamationIcon" size='10x' [classes]="['text-danger']"></fa-icon>
            <span class="spacer"></span>
          </div>
          <div class="d-flex">
            <span class="spacer"></span>
            <h3>header</h3>
            <span class="spacer"></span>
          </div>
          <div class="d-flex">
            <span class="spacer"></span>
            <h4 style="font-size: 70px;margin-bottom: 20px;font-family: 'raleway-regular'; cursor: pointer;" (click)="goHome()" >
              app-name
            </h4>
            <span class="spacer"></span>
          </div>
        </div>
        <span class="spacer"></span>
      </div>
    </div>
  </div>
</div>
