.hover-efect:hover {
  ms-transform: scale(1.1);
   -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.pointer{
  cursor: pointer;
}

.common-photo-button{
  margin: auto;
  width: auto;
  height: auto;
  margin-left: 10px;
}