.input-class {
    width: 78px;
    height: 85px;
    color: #6c757d;
    font-weight: 900;
}

.input-codigo {
    width: 165px;
    height: 30px;
    color: #6c757d;
    font-weight: 800;
}

.input-codigo-button {
    width: 165px;
    border-style: none;
    background: transparent;
    height: 55px;
    color: #6c757d;
    font-weight: 800;
}

.input-class:hover {
    box-shadow: 1px solid #ced4da;
}

.input-class-small {
    width: 58px;
    height: 65px;
    color: #6c757d;
    font-weight: 800;
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.plusless {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 40px;
    font-weight: bold;
    color: #6c757d;
}

header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px;
    margin: 0px;
    z-index: 10;
}

html {
    --top-spacing: 100px;
    scroll-padding-top: var(--top-spacing);
}

body {
    margin: var(--top-spacing) auto;
    max-width: 400px;
    padding: 0 20px;
    font: 18px/1.4 system-ui;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #fff;
    color: #2a5c96;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 2px 3px #2a5c96;
}

.my-float {
    margin-top: 10px;
    width: 40px;
    height: 40px;
}


/* agregar borde rojo a los input que estén en estado inválido */

.field_invalid {
    border: 1px solid red;
}