ul.sublist li {
    font-size: 15px;
}

overlayimg {height: 400px;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    color: white;
    overflow: hidden;
    background: #C04848;  /* fallback for old browsers */
    background-size: cover;
    background-repeat: no-repeat;
}

