<div class="row no-gutters">
  <div class="col-sm-3">
      <!-- tablist -->
      <nav class="nav nav-pills nav-pills--categories text-center flex-sm-column justify-content-between">

          <a class="nav-link active" data-toggle="pill">
              <span class="small">Categoría 3N</span>
              <h1 class="font-weight-bold fs-18 mb-1">1.200 <span class="small">USD</span></h1>
              <p class="mb-0 small text-nowrap">ARS 37.987</p>
          </a>

          <a class="nav-link" data-toggle="pill">
              <span class="small">Categoría 3N</span>
              <h1 class="font-weight-bold fs-18 mb-1">1.200 <span class="small">USD</span></h1>
              <p class="mb-0 small text-nowrap">ARS 37.987</p>
          </a>

          <a class="nav-link" data-toggle="pill">
              <span class="small">Categoría 3N</span>
              <h1 class="font-weight-bold fs-18 mb-1">1.200 <span class="small">USD</span></h1>
              <p class="mb-0 small text-nowrap">ARS 37.987</p>
          </a>

          <a class="nav-link" data-toggle="pill">
              <span class="small">Categoría 3N</span>
              <h1 class="font-weight-bold fs-18 mb-1">1.200 <span class="small">USD</span></h1>
              <p class="mb-0 small text-nowrap">ARS 37.987</p>
          </a>
      </nav>
  </div>
  <div class="col-sm-9">
      <!-- tabcontent -->
      <div class="tab-content mt-3 mt-sm-1 ml-sm-2 fs-14">
          <div class="tab-pane fade show active" id="v-pills-1">
              <app-cabins-available></app-cabins-available>
          </div>
          <div class="tab-pane fade" id="v-pills-2">
            <app-cabins-available></app-cabins-available>
          </div>
          <div class="tab-pane fade" id="v-pills-3">
            <app-cabins-available></app-cabins-available>
          </div>
          <div class="tab-pane fade" id="v-pills-4">
            <app-cabins-available></app-cabins-available>
          </div>
      </div>
  </div>
</div>
