<div class="popover-body p-0">
  <ul class="list-unstyled p-1 mb-0">
    <li class="p-1">
      <div class="d-flex" style="cursor: pointer;" >
        <div>
          <img src="./assets/images/email.svg">
        </div>
        <div class="pl-3 pr-3">
          <a href="{{BuildMail()}}"><span>E-mail</span></a>
        </div>
      </div>
    </li>
    <li class="p-1">
      <div class="d-flex" style="cursor: pointer;">
        <div>
          <img src="./assets/images/whatsapp.svg">
        </div>
        <div class="pl-3 pr-33">          
          <a target="_blank" title="Whatsapp" href="{{BuildWhatApp()}}" class="share-link share-whatsapp"><span>Whatsapp</span></a>
        </div>
      </div>
    </li>
    <li class="p-1">
      <div class="d-flex" style="cursor: pointer;">
        <div>
          <img src="./assets/images/facebook.svg">
        </div>
        <div class="pl-3 pr-3">
          <a target="_blank" title="Facebook" href="{{BuildFacebook()}}" class="share-link share-facebook"><span>Facebook</span></a>
        </div>
      </div>
    </li>
    <!-- <li class="p-1">
      <div class="d-flex" style="cursor: pointer;">
        <div>
          <img src="./assets/images/messenger.svg">
        </div>
        <div class="pl-3 pr-3">          
          <a href="fb-messenger://share/?link=http://cb-test-agencias.istinfor.com/&app_id=123456789"><span>Messenger</span></a>
        </div>
      </div>
    </li> -->
    <li class="p-1">
      <div class="d-flex" style="cursor: pointer;">
        <div>
          <img src="./assets/images/twitter.svg">
        </div>
        <div class="pl-3 pr-3">
          <a target="_blank" title="Twitter" href="{{BuildTwitter()}}" class="share-link share-twitter"><span>Twitter</span></a>
        </div>
      </div>
    </li>
    <li class="p-1">
      <div class="d-flex" style="cursor: pointer;">
        <div>
          <img src="./assets/images/instagram.svg">
        </div>
        <div class="pl-3 pr-3">
          <a href="{{BuildInstagram()}}" target="_blank" rel="noopener">
            <span>Instagram</span>
        </a>
        </div>
      </div>
    </li>
  </ul>
</div>