<p class="mb-2 text-center text-sm-left">
  Descripción de las cabinas, va a ir cambiando en función de lo que se seleccione
</p>
<div class="bg-secondary text-center text-white p-1">
  Camarotes dispoibles en esta categoría
</div>
<table class="table text-center bg-light">
  <thead>
      <th>
          Camarote
      </th>
      <th>
          Cubierta
      </th>
      <th colspan="2">
          Acciones
      </th>
  </thead>
  <tbody>
      <tr>
          <td>
              1025
          </td>
          <td>
              12
          </td>
          <td>
              <button class="btn btn-sm btn-secondary text-nowrap text-uppercase fs-11">Ver
                  cubierta</button>
          </td>
          <td>
              <button class="btn btn-sm btn-secondary text-nowrap text-uppercase fs-11">Seleccionar</button>
          </td>
      </tr>
      <tr>
          <td>
              1025
          </td>
          <td>
              12
          </td>
          <td>
              <button class="btn btn-sm btn-secondary text-nowrap text-uppercase fs-11">Ver
                  cubierta</button>
          </td>
          <td>
              <button class="btn btn-sm btn-secondary text-nowrap text-uppercase fs-11">Seleccionar</button>
          </td>
      </tr>
      <tr>
          <td>
              1025
          </td>
          <td>
              12
          </td>
          <td>
              <button class="btn btn-sm btn-secondary text-nowrap text-uppercase fs-11">Ver
                  cubierta</button>
          </td>
          <td>
              <button class="btn btn-sm btn-secondary text-nowrap text-uppercase fs-11">Seleccionar</button>
          </td>
      </tr>
      <tr>
          <td>
              1025
          </td>
          <td>
              12
          </td>
          <td>
              <button class="btn btn-sm btn-secondary text-nowrap text-uppercase fs-11">Ver
                  cubierta</button>
          </td>
          <td>
              <button class="btn btn-sm btn-secondary text-nowrap text-uppercase fs-11">Seleccionar</button>
          </td>
      </tr>
      <tr>
          <td>
              1025
          </td>
          <td>
              12
          </td>
          <td>
              <button class="btn btn-sm btn-secondary text-nowrap text-uppercase fs-11">Ver
                  cubierta</button>
          </td>
          <td>
              <button class="btn btn-sm btn-secondary text-nowrap text-uppercase fs-11">Seleccionar</button>
          </td>
      </tr>
  </tbody>
</table>
