<header class="steps__header container-fluid">
    <div class="wrapper row flex-column flex-nowrap bg-light p-3 p-sm-5">
        <div class="row flex-nowrap align-items-center">
            <div class="flex-fill w-100">
                <h1 class="text-primary mb-0">Resumen previo a la reserva</h1>
            </div>
            <div class="flex-fill">
                <button class="btn shadow-none">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32.763" height="32.763"
                      viewBox="0 0 32.763 32.763">
                      <g transform="translate(9.957 22.832)">
                          <path d="M94.134,34.6H83.26a.99.99,0,1,0,0,1.98H94.134a.99.99,0,1,0,0-1.98Z"
                              transform="translate(-82.27 -34.6)" fill="#2a5c96" />
                      </g>
                      <g transform="translate(9.957 26.5)">
                          <path d="M94.134,40.16H83.26a.99.99,0,1,0,0,1.98H94.134a.99.99,0,1,0,0-1.98Z"
                              transform="translate(-82.27 -40.16)" fill="#2a5c96" />
                      </g>
                      <path
                          d="M95.931,10.822H93.76V.924A.927.927,0,0,0,92.836,0H74.287a.921.921,0,0,0-.917.924v9.9H71.2a4.02,4.02,0,0,0-4.019,4.012v7.734A4.02,4.02,0,0,0,71.2,26.58H73.37v5.259a.921.921,0,0,0,.917.924H92.836a.927.927,0,0,0,.924-.924V26.58h2.171a4.019,4.019,0,0,0,4.012-4.012V14.834A4.019,4.019,0,0,0,95.931,10.822ZM75.211,1.848h16.7v8.974h-16.7Zm16.7,29.067h-16.7V20.4h16.7V30.915Zm6.183-8.347a2.166,2.166,0,0,1-2.164,2.164H93.76V19.473a.927.927,0,0,0-.924-.924H74.287a.921.921,0,0,0-.917.924v5.259H71.2a2.171,2.171,0,0,1-2.171-2.164V14.834A2.171,2.171,0,0,1,71.2,12.67H95.931a2.166,2.166,0,0,1,2.164,2.164Z"
                          transform="translate(-67.18)" fill="#2a5c96" />
                  </svg>
              </button>
            </div>
            <div class="flex-fill">
                <ng-template #popContent>
                    <app-popover></app-popover>
                </ng-template>
                <ng-template #popoverTitle>
                    <div class="popover-header p-1 text-center bg-white border-0">
                        <div class="popover shadow p-2" role="tooltip">
                            <div class="arrow"></div>
                            <h3>
                            </h3>
                        </div>
                    </div>
                </ng-template>

                <button class="btn shadow-none" [ngbPopover]="popContent" popoverTitle="Compartir" placement="bottom" ngbTooltip="Compartir">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25.075" height="25.735"
                      viewBox="0 0 25.075 25.735">
                      <path
                          d="M20.456,22.977a4.632,4.632,0,0,0-3.59,1.716L9.093,20.806a4.495,4.495,0,0,0-.04-2.409l7.912-4.283A4.612,4.612,0,1,0,15.837,11.1a4.5,4.5,0,0,0,.185,1.274L8.11,16.655a4.619,4.619,0,1,0,.1,5.926l7.773,3.887a4.559,4.559,0,0,0-.145,1.128,4.619,4.619,0,1,0,4.619-4.619Zm0-14.517A2.639,2.639,0,1,1,17.816,11.1,2.639,2.639,0,0,1,20.456,8.46ZM4.619,22.317a2.639,2.639,0,1,1,2.639-2.639A2.639,2.639,0,0,1,4.619,22.317Zm15.837,7.918A2.639,2.639,0,1,1,23.1,27.6,2.639,2.639,0,0,1,20.456,30.235Z"
                          transform="translate(0 -6.48)" fill="#2a5c96" />
                  </svg>
              </button>
            </div>
        </div>
    </div>
</header>
<nav *ngIf="reservation.mode == 'Online'" class="nav nav-pills flex-row bg-secondary nav-pills--steps">
    <a class="flex-fill text-white rounded-0 text-center nav-link completed" style="cursor: pointer; " (click)="PassengersNumber()">
        <span class="angle"></span> {{screenLangInfo.lbl_tirillaNavegacion_Paso1}}
    </a>
    <a class="flex-fill text-white rounded-0 text-center nav-link active">
        <span class="angle"></span> {{screenLangInfo.lbl_tirillaNavegacion_Paso2}}
    </a>
    <a class="flex-fill text-white rounded-0 text-center nav-link disabled">
        <span class="angle"></span> {{screenLangInfo.lbl_tirillaNavegacion_Paso3}}
    </a>
</nav>
<nav *ngIf="reservation.mode == 'Offline'" class="nav nav-pills flex-row bg-secondary nav-pills--steps">
    <a class="flex-fill text-white rounded-0 text-center nav-link active">
        <span class="angle"></span> {{screenLangInfo.lbl_tirillaNavegacion_Paso4}}
    </a>
    <a class="flex-fill text-white rounded-0 text-center nav-link disabled">
        <span class="angle"></span> {{screenLangInfo.lbl_tirillaNavegacion_Paso5}}
    </a>
</nav>

<main class="container pt-5 pb-5">
    <div *ngIf="selectedCabin && selectedCabin.onBoardCredit.ValorPrincipal" class="row align-items-center">
        <div class="col-sm-8 text-center text-sm-left">
            <h1 class="text-primary text-uppercase font-weight-bold fs-24 mb-4 mb-sm-0">¡Reserva Confirmada!</h1>
        </div>
        <div class="col-sm-4 text-center text-sm-left">
            <h3 class="text-uppercase text-primary font-weight-bold fs-23 mb-0">
                Localizador <span class="badge badge-primary fs-100">W34x78uj</span>
            </h3>
        </div>
        <div class="col-12">
            <ul class="list-unstyled font-weight-normal mt-5 fs-15">
                <li class="mb-2">
                    La reserva ha sido confirmada.
                </li>
                <li class="mb-2">
                    El siguiente paso es pagar el depósito <span class="text-primary">450USD / ARS 105.456</span> antes del <span class="text-primary">13 de octubre del 2021</span>.
                </li>
                <li class="mb-2">
                    En caso de no efectuar el pago, la reserva será automáticamente cancelada
                </li>
            </ul>
        </div>
    </div>

    <!-- Componente próximo crusero -->
    <app-next-cruise [screenLangInfo]="screenLangInfo" [urlShip]="urlShip"></app-next-cruise>

    <div class="row mt-4 pt-4 border-top">
        <div class="col-sm-12 text-sm-left text-center mb-3">
            <h1 class="text-primary text-uppercase font-weight-bold fs-24">
                {{screenLangInfo.lbl_Titulo_SeccionTarifa}}
            </h1>
        </div>
        <div class="col-sm-4 mb-3">
            <img *ngIf="selectedCabin && selectedCabin.roomImg" class="img-fluid w-100" src="{{selectedCabin.roomImg.url}}">
            <ul class="d-block d-sm-none list-group list-group-flush">
                <li class="list-group-item border-bottom bg-transparent">
                    <ul *ngIf="selectedDate && selectedCabin.addons" class="row text-center list-unstyled">
                        <li class="col border-right">

                        </li>
                        <li class="col border-right">
                            <ng-template #addons1>
                                <app-tooltip *ngIf="(selectedCabin.addons[0] && selectedCabin.addons[0].valor == true)  || (selectedCabin && selectedCabin.aeropuertoName && selectedCabin.aeropuertoName.trim() != '')" [message]="selectedCabin.addons[0].descripcion"></app-tooltip>
                            </ng-template>
                            <div *ngIf="(selectedCabin.addons[0] && selectedCabin.addons[0].valor == true)  || (selectedCabin && selectedCabin.aeropuertoName && selectedCabin.aeropuertoName.trim() != '')" placement="bottom" [ngbTooltip]="addons1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="31.905" height="31.905" viewBox="0 0 31.905 31.905">
                                        <path
                                            d="M10.413,1.735a1.792,1.792,0,0,1,1.157.578,2.856,2.856,0,0,1,.578,1.735V8.677l6.942,5.206v1.735l-7.52-2.892V19.09L14.462,21.4v1.157L10.413,21.4,6.363,22.561V21.4L9.256,19.09V12.726l-7.52,2.892V13.883L8.677,8.677V4.049a2.856,2.856,0,0,1,.578-1.735,1.792,1.792,0,0,1,1.157-.578m0-1.735A3.529,3.529,0,0,0,8.029,1.088,4.456,4.456,0,0,0,6.942,4.049v3.76L.694,12.5A1.734,1.734,0,0,0,0,13.883v1.735a1.738,1.738,0,0,0,1.735,1.735,1.808,1.808,0,0,0,.625-.116l5.16-1.99v3L5.281,20.044A1.733,1.733,0,0,0,4.628,21.4v1.157a1.745,1.745,0,0,0,.688,1.388,1.725,1.725,0,0,0,1.047.347,1.652,1.652,0,0,0,.474-.069l3.575-1.018,3.575,1.018a1.681,1.681,0,0,0,.474.069,1.776,1.776,0,0,0,1.047-.347,1.737,1.737,0,0,0,.688-1.388V21.4a1.722,1.722,0,0,0-.654-1.354l-2.239-1.8v-3l5.16,1.984a1.784,1.784,0,0,0,.625.116,1.738,1.738,0,0,0,1.735-1.735V13.878a1.734,1.734,0,0,0-.694-1.388l-6.248-4.68V4.049A4.465,4.465,0,0,0,12.8,1.088,3.529,3.529,0,0,0,10.413,0Z"
                                            transform="translate(17.18) rotate(45)" fill="#2a5c96" />
                                    </svg>
                            </div>
                        </li>
                        <li class="col border-right">
                            <ng-template #addons2>
                                <app-tooltip *ngIf="selectedCabin.addons[1] && selectedCabin.addons[1].valor == true" [message]="selectedCabin.addons[1].descripcion"></app-tooltip>
                            </ng-template>


                            <div *ngIf="selectedCabin.addons[1] && selectedCabin.addons[1].valor == true" placement="bottom" [ngbTooltip]="addons2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="6.768" height="27.102" viewBox="0 0 6.768 27.102">
                                        <g transform="translate(0)">
                                            <path
                                                d="M142.684,41.914a3.387,3.387,0,1,0-2.395-.995A3.366,3.366,0,0,0,142.684,41.914Zm-1.163-4.553a1.634,1.634,0,0,1,2.325,0,1.651,1.651,0,0,1,0,2.331,1.634,1.634,0,0,1-2.325,0A1.651,1.651,0,0,1,141.521,37.361Z"
                                                transform="translate(-139.3 -14.812)" fill="#2a5c96" />
                                            <path
                                                d="M144.2,0h-2.314a1.733,1.733,0,0,0-1.735,1.735V17.354a1.733,1.733,0,0,0,1.735,1.735H144.2a1.733,1.733,0,0,0,1.735-1.735V1.735A1.733,1.733,0,0,0,144.2,0Zm0,17.354h-2.314V1.735H144.2Z"
                                                transform="translate(-139.658)" fill="#2a5c96" />
                                        </g>
                                    </svg>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h3 class="text-primary font-weight-bold fs-22">{{selectedCabin.titulo}}</h3>
            <p class="fs-12">
                {{selectedCabin.descripcion}}
            </p>
            <ul class="list-unstyled fs-14 mb-2 sublist">
                <li [innerHtml]="cleanTitleRate">
                </li>
                <li [innerHtml]="cleanDescriptionRate">
                </li>
                <li>
                    <strong>{{screenLangInfo.lbl_TipoCabina}}</strong> {{GetCatTranslate()}} / ({{screenLangInfo.lbl_CategoriaTipoCabina}} {{selectedCabin.categoria}})
                </li>
                <li *ngIf="selectedCabin.deckCode && selectedCabin.deckCode != null && selectedCabin.deckCode != ''">
                    <strong>{{screenLangInfo.lbl_Cubierta}}</strong> {{selectedCabin.deckCode}}
                    <u><a class="font-weight-bold" (click)="ViewCabin()"
                                style="cursor: pointer; margin-left: 10px;">
                                {{screenLangInfo.lbl_VerCubierta}}</a></u>
                </li>
                <li class="d-none d-sm-block mt-3">
                    <ul *ngIf="selectedDate && selectedCabin.addons" class="row text-center list-unstyled">
                        <li class="col border-right">

                        </li>
                        <li class="col border-right">
                            <ng-template #addons5>
                                <app-tooltip *ngIf="(selectedCabin.addons[0] && selectedCabin.addons[0].valor == true)  || (selectedCabin && selectedCabin.aeropuertoName && selectedCabin.aeropuertoName.trim() != '')" [message]="selectedCabin.addons[0].descripcion"></app-tooltip>
                            </ng-template>
                            <div *ngIf="(selectedCabin.addons[0] && selectedCabin.addons[0].valor == true)  || (selectedCabin && selectedCabin.aeropuertoName && selectedCabin.aeropuertoName.trim() != '')" placement="bottom" [ngbTooltip]="addons5">
                                <svg xmlns="http://www.w3.org/2000/svg" width="31.905" height="31.905" viewBox="0 0 31.905 31.905">
                                        <path
                                            d="M10.413,1.735a1.792,1.792,0,0,1,1.157.578,2.856,2.856,0,0,1,.578,1.735V8.677l6.942,5.206v1.735l-7.52-2.892V19.09L14.462,21.4v1.157L10.413,21.4,6.363,22.561V21.4L9.256,19.09V12.726l-7.52,2.892V13.883L8.677,8.677V4.049a2.856,2.856,0,0,1,.578-1.735,1.792,1.792,0,0,1,1.157-.578m0-1.735A3.529,3.529,0,0,0,8.029,1.088,4.456,4.456,0,0,0,6.942,4.049v3.76L.694,12.5A1.734,1.734,0,0,0,0,13.883v1.735a1.738,1.738,0,0,0,1.735,1.735,1.808,1.808,0,0,0,.625-.116l5.16-1.99v3L5.281,20.044A1.733,1.733,0,0,0,4.628,21.4v1.157a1.745,1.745,0,0,0,.688,1.388,1.725,1.725,0,0,0,1.047.347,1.652,1.652,0,0,0,.474-.069l3.575-1.018,3.575,1.018a1.681,1.681,0,0,0,.474.069,1.776,1.776,0,0,0,1.047-.347,1.737,1.737,0,0,0,.688-1.388V21.4a1.722,1.722,0,0,0-.654-1.354l-2.239-1.8v-3l5.16,1.984a1.784,1.784,0,0,0,.625.116,1.738,1.738,0,0,0,1.735-1.735V13.878a1.734,1.734,0,0,0-.694-1.388l-6.248-4.68V4.049A4.465,4.465,0,0,0,12.8,1.088,3.529,3.529,0,0,0,10.413,0Z"
                                            transform="translate(17.18) rotate(45)" fill="#2a5c96" />
                                    </svg>
                            </div>
                        </li>
                        <li class="col border-right">
                            <ng-template #addons6>
                                <app-tooltip *ngIf="selectedCabin.addons[1] && selectedCabin.addons[1].valor == true" [message]="selectedCabin.addons[1].descripcion"></app-tooltip>
                            </ng-template>
                            <div *ngIf="selectedCabin.addons[1] && selectedCabin.addons[1].valor == true" placement="bottom" [ngbTooltip]="addons6">
                                <svg xmlns="http://www.w3.org/2000/svg" width="6.768" height="27.102" viewBox="0 0 6.768 27.102">
                                        <g transform="translate(0)">
                                            <path
                                                d="M142.684,41.914a3.387,3.387,0,1,0-2.395-.995A3.366,3.366,0,0,0,142.684,41.914Zm-1.163-4.553a1.634,1.634,0,0,1,2.325,0,1.651,1.651,0,0,1,0,2.331,1.634,1.634,0,0,1-2.325,0A1.651,1.651,0,0,1,141.521,37.361Z"
                                                transform="translate(-139.3 -14.812)" fill="#2a5c96" />
                                            <path
                                                d="M144.2,0h-2.314a1.733,1.733,0,0,0-1.735,1.735V17.354a1.733,1.733,0,0,0,1.735,1.735H144.2a1.733,1.733,0,0,0,1.735-1.735V1.735A1.733,1.733,0,0,0,144.2,0Zm0,17.354h-2.314V1.735H144.2Z"
                                                transform="translate(-139.658)" fill="#2a5c96" />
                                        </g>
                                    </svg>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="d-flex flex-column justify-content-center flex-fill text-center text-primary mt-4 mt-sm-0" style="text-align: right !important; margin-right: 15px;">
            <p class="mb-0">{{screenLangInfo.lbl_PrecioFinal}}</p>
            <h1 *ngIf="cotResume.totalReserva && cotResume.totalReserva.precio.posMoneda == 0" class="font-weight-bold mb-0">
                {{cotResume.totalReserva.precio.valorPrincipalString}} <span class="small fs-22">{{cotResume.totalReserva.precio.monedaP}}</span></h1>
            <span *ngIf="cotResume.totalReserva && cotResume.totalReserva.precio.posMoneda == 0 && itinerary.mostrarMonedaLocal" class="small">
                    {{cotResume.totalReserva.precio.valorLocalString}} {{cotResume.totalReserva.precio.monedaL}} </span>
            <h1 *ngIf="cotResume.totalReserva && cotResume.totalReserva.precio.posMoneda == 1" class="font-weight-bold mb-0"><span class="small fs-22">{{cotResume.totalReserva.precio.monedaP}}</span> {{cotResume.totalReserva.precio.valorPrincipalString}}
            </h1>
            <span *ngIf="cotResume.totalReserva && cotResume.totalReserva.precio.posMoneda == 1 && itinerary.mostrarMonedaLocal" class="small">
                    {{cotResume.totalReserva.precio.monedaL}} {{cotResume.totalReserva.precio.valorLocalString}} </span>

        </div>
    </div>

    <!-- Componente desglose del precio final -->
    <app-final-price [screenLangInfo]="screenLangInfo" [urlDesg]="urlDesg" [cotResume]="cotResume">
    </app-final-price>

    <div *ngIf="cotResume.listaNotasAlPie" style="margin-top: 30px;">
        <p *ngFor="let nota of cotResume.listaNotasAlPie;" class="col-12 fs-12" style="margin-bottom: 3px; padding-left: 0px;" [innerHtml]="transformStyle(nota)">

        </p>
    </div>
</main>
<footer class="steps__footer bg-light p-4">
    <div class="container">
        <div class="d-flex w-100 flex-nowrap justify-content-between">
            <a (click)="ShowSearch()" class="btn btn-secondary text-white text-uppercase font-weight-bold rounded-0 pr-3 pl-3 pr-sm-4 pl-sm-4">
              Nueva búsqueda
          </a>
            <a href="#" class="btn btn-primary text-white text-uppercase font-weight-bold rounded-0 pr-3 pl-3 pr-sm-4 pl-sm-4">
              Confirmar Reservaci&oacute;n
          </a>
        </div>
    </div>
</footer>