<div class="modal-content">

  <div   class="modal-header border-0 align-items-start justify-content-start">
     <!--<h4 class="modal-title text-primary m-auto border-bottom p-2 text-uppercase font-weight-bold" style="color: red !important;">
        <img src="./assets/images/cloud-error-svgrepo-com.png" width="20%">&nbsp;
        {{screenError.status}}&nbsp;{{screenError.statusText}}
      </h4>-->

      <h4 class="text-center modal-title text-primary m-auto border-bottom p-2 text-uppercase font-weight-bold" style="color: red !important;">
         <img src="./assets/images/cloud-error-svgrepo-com.png" width="20%">
      </h4>
      <button type="button" class="close m-sm-0" data-dismiss="modal" aria-label="Close"  (click)="close()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div   class="modal-body p-2 w-90 flex d-flex align-items-center justify-content-center">
  



     <h5 class="text-primary m-auto border-bottom p-2 text-uppercase font-weight-bold red">
   
      <!--{{screenError.error}}-->
      {{screenError}}

     </h5> 
    
  </div>
  <div   class="modal-footer border-0 align-items-center justify-content-center">
  
</div>
</div>


